.topic-thumbnails-list .pull-left {
    display: none;
}
.topic-thumbnails-list .right {
    margin-left: 0;
}
.topic-thumbnails-list {
	.topic-list-thumbnail {
	    height: 12vw;
	    width: 12vw;
	}
}
.topic-list.topic-thumbnails-list .topic-excerpt {
    padding-right: 0;
    width: 100%;
    order: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}
